* {
    margin: 0px;
    box-sizing: border-box;
    font-family: "Nunito Sans", sans-serif;
}
html {
    background-color: rgb(227, 205, 123);
}
body {
    margin: auto;
    width: 643px;
    padding: 0px 40px;
    background-color: white;
}
header figure {
    display: flex;
    justify-content: center;
}
main {
    margin: auto;
    padding: 5px;
}
h1 {
    margin: 10px 10px 0px 0px;
    color: rgb(166, 119, 0);
}
article {
    background-color: rgb(230, 228, 228);
    padding: 10px;
}
ul, ol {
    padding: 0px 30px;
}
div {
    display: flex;
    justify-content: center;
}
div img {
    padding: 0px 5px 10px;
}